[Unit]
Description=Node Exporter Version 1.1.2
After=network-online.target

[Service]
User=node-exporter
Group=node_exporter_user
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target
